PAGE1; HOME PAGE =

//navigation bar
.container {
  width: 100%;
  margin: 0 auto;
}

.logo {
  float: left;
}

nav {
  float:right;
}

header::after {
  content: '' ;
  display: table;
  clear: both;
}

nav ul {
  margin:0;
  padding: 0;
  list-style: none;
  padding-top: 1.8cm;
}

nav li {
 display: inline-block;
 margin-left: 100px;
 padding-right: 4cm;
 font-size: 20px;

 position: relative;
 width: 1%;
}

nav a {
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Abel',sans-serif;
}

nav a:hover{
  color: #000000
}

nav a::before {
  content: '' ;
  display: table;
  height: 5px;
  width:100%;
  background-color: #444;

  position: absolute;
  top:0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 39%;
 
}
//end of navigation bar

.social li {
  display: inline-block;
  list-style: none;
}

.box1 {
  padding-left: 36%;
  padding-top: 0.5%;
}

.main-footer {
  background-color: goldenrod;
  padding-top: 0.2cm;
  padding-bottom: 0.2cm;

}


-------------------------------------------------------------------------------
PAGE 2: RECIPES:

